@import url(../css/reset.css);

*{padding: 0; margin: 0; font-size: 100%;border: none; font-weight: 300; box-sizing: border-box; 
    font-family: 'Roboto Condensed', sans-serif;}


    body, html{
        height: 100%;
        scroll-behavior: smooth;
        background-color: rgb(255, 255, 255);
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        font-size: 20px;
        text-decoration: none;
        list-style: none;
        max-width: 100%;
    
    
    }
    
/* h2 h1 e p */
.titulo h2
{
    font-size: 1.5em;
    color: #130400;
    font-weight: 300;
    color: white; 
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: -2px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 8px; 

    text-align: center;

}

.conteudo p
{
    font-size: 1.5em;
    color: black;
    font-weight: 450px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: -2px;  
    background: rgba(255, 255, 255);/* fallback color */
    background: rgba(255, 255, 255);
    padding: 8px; 

    text-align: center;
}

/* Banner rotativo */
.banner
{
    height: 15vh;
    background-image: url(../img/enfermeiros.jpg);
    background-size: 1990px 80px;
    height: 577px;
    width: 1920px;
}


.parallax {
    /* Criando efeito parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width:1024px) {
    .parallax{
        background-attachment: scroll;

    }
}

  #menu{
    margin: 0;
    padding: 0;
    float: right;
  }
  #menu li{
    list-style: none;
    display: inline-block;
    float: right;
    padding: 14px 30px;
    
  }
  #menu li a{
    text-decoration: none;
    position: relative;
    color: #f74d4d;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    overflow: hidden;
    transition: 0.3s all;
    padding: 45px 60px;
    text-transform: uppercase;

  }
  #menu li a:before{
    content: '';
    width: 60px;
    position: absolute;
    border-bottom: 8px solid #fa4242;
    bottom: 0;
    right: 350px;
    transition: 0.7s all;
  }
  #menu li a:hover:before{
    right: 0;
  
}

  
  

.titulo
{
    padding-top: 185px;
    float: left;
}

.titulo h2
{
    font-size: 50px;
    color: #130400;
    font-weight: 125;
    color: white; 
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 8px; 
    padding-top: 10px;
    float: center;


}
.titulo h3
{
    font-size: 30px;
    color: #130400;
    font-weight: 50;
    color: white; 
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 8px; 
    padding-top: 0px;
    float: left;
    text-align: center;

}
.buttons
{
    width: 30%;
    float: right;
    padding-top: 100px;
    text-decoration: none;
    font-style: none;
}

.btn
{
    width: 90%;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    padding: 5%;
    font-family: 'Roboto Condensed', sans-serif;
    
    

}
.btn-cadastrar
{
    color: #000000;
    text-decoration: none;
    font-style: none;
}
.btn-sobre
{
    color: #ffff;
    margin-top: 2%;
    text-decoration: none;
    font-style: none;
}

.bg-white
{
    background:hsl(0, 79%, 54%);
    color: white;
}
.bg-black
{
    background-color: #ffff;
}
.radius
{
    border-radius: 50px;
}



/* Container footer */
/* esse ponto significa que todos os lugares que tiverem escrito container terá essas propriedades */
.container
{
    width: 100%;
    float: left;
    padding: 4% 4%;
    text-align: center;
}
.bg-gradient
{
    background:hsl(0, 79%, 54%);
    
}

/* Rodapé (Footer) */
.social-icons a
{
    font-size: 1.5em; 
    color: rgba(255, 255, 255, 0.7);
    margin-right: 3%;
    text-decoration: none;
    list-style: none;


}

.social-icons a:last-child
{
    margin-right: 0;

}

.social-icons a:hover
{
    color: white;

}
.copyright 
{
    color: rgba(255, 255, 255, 0.7);
    margin-top: 2%;

}

