body, html{
    height: 100%;
    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    max-width: 100%;


}
  #menu{
    margin: 0;
    padding: 0;
    margin-top: 5px;
    float: right;
  }
  #menu li{
    list-style: none;
    display: inline-block;
  }
  #menu li a{
    text-decoration: none;
    position: relative;
    color: #f74d4d;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    overflow: hidden;
    transition: 0.3s all;
    padding: 14px 30px;
    text-transform: uppercase;

  }
  #menu li a:before{
    content: '';
    width: 60px;
    position: absolute;
    border-bottom: 8px solid #fa4242;
    bottom: 0;
    right: 350px;
    transition: 0.7s all;
  }
  #menu li a:hover:before{
    right: 0;
  
}



  
  